:root {
  --midnight-green: #024554;
  --stone-bridge: #435b54;
  /* #4e6b63 */
  --turf-green: #5a7664;
  /* #698c75 */
  --azeitona: #79f674;
  /* #A8B545 */
  --swing-sage: #f0f0eb;
  /* --swing-sage: #c2c1ae; */
}

@font-face {
  font-family: maiden;
  src: url('fonts/MaidenCrimes-WRPE.ttf');
}

@font-face {
  font-family: race;
  src: url('fonts/Race Sport.ttf');
}

@font-face {
  font-family: roundo;
  src: url('fonts/Roundo-Regular.otf');
}

* {
  margin: 0;
  font-family: roundo;
}

h1,
h2,
h3,
h4 {
  font-family: race;
  text-align: center;
  margin-bottom: 0.7rem;
}

h1 {
  font-family: maiden;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin: 0;
}

h2 {
  color: var(--swing-sage);
}

h3 {
  background-color: var(--azeitona);
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

a {
  font-family: race;
}

header {
  background-color: var(--midnight-green);
  padding: 1rem 0.7rem 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  position: absolute;
  color: var(--azeitona);
}

nav label {
  margin-left: auto;
}

nav select {
  width: 4rem;
}

main {
  /* bakgrund och textfärg */
  background: var(--stone-bridge);
  color: var(--midnight-green);

  /* innehåll */
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  padding: 0vh 4vh;
}

.main-content {
  background: var(--turf-green);
  padding: 1rem;

  border-radius: 10px;
}

#ad-section {
  height: 200px;

  background-image: url('images/pexels-pixabay-50597-500px.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;

  text-align: center;
  padding: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#ad-section h2 {
  margin: 0;
}

#ad-section a {
  color: var(--azeitona);
  flex-grow: 1;
}

#services-article {
  grid-row: 2;
}

#services-article section {
  background-color: var(--swing-sage);
  padding: 0.5rem
}

#hero-section {
  height: 250px;
  margin-left: -100px;
  margin-right: -100px;

  background: url('images/pexels-rdne-6539832-500px.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;

  grid-row: 3;
}

#hero-section div {
  background-color: rgba(1, 1, 1, .5);
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

#workouts-article {
  grid-row: 4;
}

.workouts {
  background: var(--swing-sage);
  padding: 0.5rem;
}

#coaches-section {
  grid-row: 5;
}

#coaches-section p {}

.coach {
  background: var(--swing-sage);
  padding: 0.5rem;
}

.coach img {
  clip-path: circle();
  width: 200px;
  transform: scaleX(-1);
}

#reviews-section {
  grid-row: 6;
}

.reviews {
  background: var(--swing-sage);
  padding: 0.5rem;
}

footer {
  background: var(--midnight-green);
  color: var(--swing-sage);

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}

footer h3 {
  background: none;
}

footer a {
  color: var(--swing-sage);
  font-family: roundo;
}

#socials-section ul {
  list-style-type: none;
}
