:root {
  --midnight-green: #024554;
  --midnight-green-light: #035f74;
  --midnight-shadow: rgba(0, 44, 53, 0.5);
  --stone-bridge: #435b54;
  --turf-green: #5a7664;
  --turf-green2: #2d3331;
  --azeitona: #79f674;
  --swing-sage: #f0f0eb;
  --shadow: rgba(0, 0, 0, 0.3);
  /* stone-bridge: #4e6b63 */
  /* --turf-green: #698c75 */
  /* --azeitona: #A8B545 */
  /* --swing-sage: #c2c1ae; */
}

a:hover {
  text-decoration: none;

  .arrow {
    margin-left: 8px;
  }
}

@font-face {
  font-family: maiden;
  src: url('fonts/MaidenCrimes-WRPE.ttf');
}

@font-face {
  font-family: race;
  src: url('fonts/Race Sport.ttf');
}

@font-face {
  font-family: roundo;
  src: url('fonts/Roundo-Regular.otf');
}


* {
  margin: 0;
  font-family: roundo;
}

/* rubriker och text <start> */
h1,
h2,
h3,
h4 {
  font-family: race;
  text-align: center;
  margin-bottom: 0.7rem;
}

h1 {
  font-family: maiden;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin: 0;
}

h2 {
  color: var(--swing-sage);
}

h3 {
  background-color: var(--azeitona);
}

p {
  line-height: 1.5;
}

/* rubriker och text <slut> */

/* högerpil <start> */
.arrow {
  border: solid var(--midnight-green);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* högerpil <slut> */

a {
  font-family: race;
  cursor: pointer;
}

li {
  line-height: 2;
}

/* specifikt sidoinnehåll <start>*/
body {
  background-color: var(--turf-green2);
}

header {
  background-color: var(--midnight-green);
  padding: 1rem 0.7rem 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  position: absolute;
  color: var(--azeitona);
}

nav a {
  margin-left: auto;
  color: var(--swing-sage);
  text-decoration: none;
  font-size: 2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  box-sizing: border-box;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;

  background: var(--stone-bridge);
  color: var(--midnight-green);
}

.main-content {
  border-radius: 10px;
  padding: 1rem;
  background: var(--turf-green);
}

#ad-section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  height: 200px;

  background-image: url('images/pexels-pixabay-50597-500px.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  background-color: rgba(0, 0, 0, 0.185);
  background-blend-mode: multiply;

  text-align: center;
}

#ad-section h2 {
  width: 100%;
}

#ad-section a {
  padding: .1rem .3rem;
  width: 100%;
  color: var(--azeitona);
}

#services-article section {
  padding: .5rem .5rem 2.5rem .5rem;
  background-color: var(--swing-sage);
}

#services-article a {
  position: absolute;
  bottom: 0;

  margin: 1rem;

  color: var(--midnight-green);
}

.services {
  border: 2px solid var(--swing-sage);
  position: relative;
}

.services:hover {
  border: 2px dashed var(--midnight-green-light);
}


#hero-section {
  margin: 0 -2rem;
  height: 250px;

  background: url('images/pexels-rdne-6539832-500px.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
}

#hero-section h2 {
  margin: 0;
}

#hero-section div {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: .7rem .5rem;

  width: 100%;
  background-color: var(--midnight-shadow);
}

.workouts {
  background: var(--swing-sage);
  border: 2px solid var(--swing-sage);
  padding: .7rem;
}

.workouts:hover {
  border: 2px dashed var(--midnight-green-light);
}

.coach {
  padding: .7rem;
  background: var(--swing-sage);
}

.coach h3 {
  background: none;
  text-align: left;
  font-family: roundo;
}

.coach img {
  transform: scaleX(-1);
  margin-bottom: .5rem;
  clip-path: circle();
  width: 200px;
}

#reviews-section {
  margin-right: -2rem;
  border-radius: 0;
  background-color: var(--swing-sage);
  overflow: hidden;
}

.reviews {
  padding: .75rem;
  min-width: 450px;
  background: var(--swing-sage);
  color: var(--midnight-green-light);
  font-size: 1.25rem;
  line-height: 2;
}

footer {
  background: var(--midnight-green);
  color: var(--swing-sage);
}

.flex-contain {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer section {
  border-left: 2px solid var(--swing-sage);
  padding: 1rem;
  text-align: left;
  flex-grow: 1;
}

footer h3 {
  background: none;
  text-align: left;
  font-family: roundo;
}

footer ul {
  padding-left: 0;
  list-style-type: none;
}

footer a {
  color: var(--swing-sage);
  font-family: roundo;
}

footer a:hover {
  color: var(--azeitona);
}

#socials-section li {
  display: inline;
  margin-right: 2rem;
  font-size: 2rem;
}

/* specifikt sidoinnehåll <slut> */

@media (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 2.3rem;
  }

  #ad-section {
    height: 300px;

    background-image: url('images/pexels-pixabay-50597-800px.jpg');
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
  }

  #ad-section a {
    font-size: 1.3rem;
  }

  #services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--swing-sage);
  }

  #hero-section {
    margin: 0 -2rem;
    height: 400px;

    background: url('images/pexels-rdne-6539832-800px.jpg');
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
  }

  #workouts-flex {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--swing-sage);
  }

  .workouts {
    flex-grow: 1;
  }
}

@media (min-width: 768px) {

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #ad-section {
    height: 300px;

    background-image: url('images/pexels-pixabay-50597-1300px.jpg');
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
  }

  #ad-section a {
    font-size: 1.7rem;
  }

  #services-article {
    grid-column: 1/4;
  }

  #services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background: var(--swing-sage);
  }

  #service1-section {
    grid-column: 1;
  }

  #service2-section {
    grid-column: 2;
  }

  #service3-section {
    grid-column: 3;
  }

  #hero-section {
    grid-column: 1/4;
    margin: 0 -2rem;
    height: 400px;

    background: url('images/pexels-rdne-6539832-1300px.jpg');
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
  }

  #workouts-article {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  #workouts-flex {
    display: flex;
    flex-wrap: wrap;

    background-color: var(--swing-sage);
  }

  .workouts {
    flex-grow: 1;
  }

  #coaches-section {
    grid-row: 4/6;
  }

  .coach-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #reviews-section {
    grid-column: 1/4;
    grid-row: 3
  }
}

/* Validerad  2024-09-19 */
